/* ========================================
   LARGE DESKTOP
======================================== */

@media (min-width: 1440px) {

  .site-container {
    width: min(
      calc(100% - 80px),
      var(--container)
    );
  }

}


/* ========================================
   TABLET
======================================== */

@media (max-width: 991px) {

  .site-container {
    width: min(
      calc(100% - 40px),
      var(--container)
    );
  }

}


/* ========================================
   MOBILE
======================================== */

@media (max-width: 576px) {

  .site-container {
    width: calc(100% - 30px);
  }

}


/* ========================================
   SMALL MOBILE
======================================== */

@media (max-width: 374px) {

  .site-container {
    width: calc(100% - 24px);
  }

}